.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
  }

  .title {
    text-align: center;
    color: black;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .select-container {
    display: inline-block;
    margin: 10px;
  }

  .select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Style the arrow */
  .select:after {
    content: "\f078"; /* FontAwesome arrow-down icon */
    font-family: FontAwesome;
    font-size: 0.8em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Hide the default arrow */
  .select::-ms-expand {
    display: none;
  }
  
  /* Hide the default arrow in Chrome/Safari/Edge */
  .select::-webkit-select-arrow {
    display: none;
  }
  
 
  .submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:rgb(58, 58, 215);;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: rgb(11, 83, 48);;
  }