.file-item {
    list-style: none;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    background-color: #f55e3038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    }
    

    
    .file-item svg:first-child {
    font-size: 1.2em;
    margin-right: 0.8em;
    }
    
    .file-item p {
    flex: 1;
    font-size: 0.9rem;
    }
    
    .file-item .actions {
    justify-self: flex-end;
    cursor: pointer;
    }
    
    .file-item .actions .fa-spinner {
    font-size: 1.2em;
    }